body {
    background-image: url('cat.png');
    background-size: 10%;
    background-repeat: space;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}    
img {
        width: 500px;
        height: 500px;
    }
.form {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.form > * {
    padding: 5px 0;
}
input {
    width: 45%;
}
button {
    width: 25%;
}